<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sol e Vento - Capão da Canoa - RS. Artigos de Iluminação & Energia Solar Fotovoltaíca">
  <meta name="author" content="Eli Somorovski Medeiros">
  <!--icone da aba-->
  <link rel="shortcut icon" href="/imagens/Logotipo.ico" >

  <title>Sol e Vento</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap/css/bootstrap.min.css" />

  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  

</head>

<body>

  <!-- Navigation -->
  <nav id="cabecalho" class="navbar navbar-expand-lg navbar-dark fixed-top cabecalho" style="background-color: #fba75d;border: 1px solid #e7e7e7;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img id="logotipoSite" src="/imagens/Logotipo_pequeno.png" height="50" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/quem_somos">Quem Somos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#energia_solar" id="link_energia_solar">Energia Solar</a>
          </li>
          <!--
          <li class="nav-item active">
            <a class="nav-link" href="#">Login</a>
          </li>
        -->
          
        </ul>
      </div>
    </div>
  </nav>