<div id="imagem1" class="row">
    <div class="col-5 left animacao-console">
   
            <a href="#como_funciona"><li id="botao1" class="botao-template2 botoes-direita" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                <strong>COMO FUNCIONA A ENERGIA SOLAR?</strong><br>
            </li></a>
            <a href="#na_pratica"><li id="botao2" class="botao-template2 botoes-direita" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                <strong>COMO FUNCIONA EM SUA CASA?</strong><br>
            </li></a>
  
    </div>  
    <div class="col-5 right animacao-console">
        
            <a href="/como_funciona"><li id="botao3" class="botao-template2 botoes-esquerda" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                <strong>PRODUTOS PARA ENERGIA SOLAR</strong><br>
            </li></a>
                <a href="/iluminacao"><li id="botao4" class="botao-template2 botoes-esquerda" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                <strong>PRODUTOS PARA ILUMINAÇÃO</strong><br>
            </li></a>
        
    </div>      
     
</div>