<div class="rodape container-fluid"><span class="esquerda">Sol e Vento - 2019</span><span class="direita">Técnico responsável: Eli Somorovski Medeiros, Fone: (51)993101122</span>
</div>
</body>
</html>