
    <% include partials/cabecalho %>
    <!--Container principal-->
    <div id="corpoIndex" class="row">
        <div id="slidesIndex" class="col-8 right">             
            <div class="w3-content w3-section" style="max-width:700px">
                <img id="figura1" class="mySlides w3-animate-top" src="/imagens/logotipo_com_telefone.png" style="width:100%">
                <img id="figura2" class="mySlides w3-animate-bottom" src="/imagens/externa.png" style="width:100%">
                <img id="figura3" class="mySlides w3-animate-left" src="/imagens/interna.jpg" style="width:100%">
            </div> 
        </div>
        <div id="consoleIndex" class="col-4 left">
                <ul class="espaco-borda-direita">
                    <a href="#como_funciona"><li id="botao1" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Como funciona a energia solar?<br>
                    </li></a>
                    <a href="#na_pratica"><li id="botao2" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Como funciona em sua casa?<br>
                    </li></a>
                    <a href="/como_funciona"><li id="botao3" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Produtos para geração de energia<br>
                    </li></a>
                    <a href="/como_funciona"><li id="botao4" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Produtos variados<br>
                    </li></a>
                </ul>
        </div>
    </div>
    <div>
        <div  id="como_funciona" align="justify" class="container_sobre_nos segunda_parte">
            <h1 style="text-align: center">Como funciona a energia solar?</h1>
            <p>&nbsp;&nbsp; As placas solares são compostas por duas finas lâminas de silício, o mesmo utilizado em componentes eletrônicos. Esse material tem
                capacidade de absorver a luz, principalmente a luz visível e um pouco ainda do infravermelho e do ultravioleta. Cada foton de luz 
                absorvido provoca o deslocamento de um elétron do silício de uma lâmina para a outra, criando assim uma tensão elétrica de aproximamente
                 0,6V entre elas. Assim, somando as tensões das divesas células existentes em cada módulo do arranjo foto voltaico chega-se a tensão de 
                 trabalho normal da usina solar, que varia normalmente entre 100 e 1000V contínuos para sistemas conectados à rede da concenssionária 
                 (on grid) e entre 14V e 60V para sistemas isolados (off grid). 
            </p>
            <img src="/imagens/sensibilidade-espectral.jpg">
            <a href="#cabecalho">
                <div class="voltar botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                    Voltar ao início
                </div>
            </a>
        </div>
       
        <div  id="na_pratica" align="justify" class="container_sobre_nos segunda_parte">
            <h1 style="text-align: center">Mas na prática, como funcionaria na minha casa?</h1>
            <h2>Usina On Grid</h2>
            <p>&nbsp;&nbsp; O sistema mais comum, utilizado na ampla maioria das instalações de energia solar é o on grid. Nele sua usina de energia solar
                é ligada em conjunto com a rede da concenssionária. Nesse tipo de ligação, em momentos de boa geração de energia (momentos de boa irradiação solar)
                ela supre sua casa com a eletricidade que precisa e o excedente é enviado para a rede pública. Quando é realizada a medição do seu consumo 
                elétrico uma vez por mês, é lido o valor consumido e o valor gerado. Caso o valor gerado seja maior, a diferença se torna bônus para ser utilizado em meses de
                pouco sol. A única desvantagem desse sistema é a de que para evitar acidentes com os técnicos da concenssionária, o sistema se bloqueia em 
                caso de falha no fornecimento de energia, porém, como você lerá abaixo, esse problema é corrigido utilizando-se o sistema hibrido on e off grid.
            </p>
            <img src="/imagens/ongrid.jpeg">
            <a href="#cabecalho">
                <div class="voltar botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                    Voltar ao início
                </div>
            </a>
            <h2 style="margin-top: 30px">Usina Off Grid</h2>
            <p>&nbsp;&nbsp; No sistema off grid a geração de energia ocorre de maneira totalmente independente da rede externa, nela são utilizados bancos de baterias
                que fornecem a energia em momentos de pouca geração. Devido ao custo e maior necessidade de manutenção, esse tipo de instalação é mais comumente utilizado
                em locais não atendidos pela concenssionária de energia.</p>
            <img src="/imagens/offgrid.png">
            <h2>Usina hibrida on e off grid</h2>
            <p>&nbsp;&nbsp; Também existe o sistema hibrido on e off grid, ele reúne os aspéctos positivos dos dois tipos de usinas. Por exemplo, esse 
                tipo de usina trabalha conectada à rede externa, lançando para ela o excedente da produção, assim como a on grid, porém ela também tem um
                banco de baterias que permite que o usuário continue com energia mesmo em momentos de falha de fornecimento da concenssionária. Essa usina
                acaba tendo um custo maior que a on grid devido ao custo das baterias, no entando é a instalação ideal para locais onde o fornecimento de 
                eletricidade é de má qualidade.</p>
            <img src="/imagens/hibrido.jpg">
        </div>
        <a href="#cabecalho">
            <div class="voltar botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                Voltar ao início
            </div>
        </a>
    </div>
    <script src="/js/carrossel.js"></script>  
    <% include partials/rodape %>
