<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/css.css" />
    <script src="js/js.js"></script>
</head>
<body>
    <div id="cabecalho">
        <span>Sol e Vento</span>
        <span>Contato</span>
    </div>
    <div id="container">
        <div id="imagem_inicio"></div>
        <div id="produtos">
            <span>Usinas Solares</span>
            <span>Usinas Eólicas</span>
            <span>Refletores Led</span>
            <span>Luninárias Paflon</span>
            <span>Materiais Diversos</span>
        </div>
    </div>
    <div id="rodape"></div>
</body>
</html>