
    <% include partials/cabecalho %>
    <!--Container principal-->
    <div class="row">
        <div class="col-4 left">
                <ul class="posicao_botoes">
                    <a href="/como_funciona"><li class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Como funciona a energia solar?<br>
                    </li></a>
                    <a href="/como_funciona"><li class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Produtos da linha solar<br>
                    </li></a>
                    <a href="/como_funciona"><li class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Produtos da linha de iluminação<br>
                    </li></a>
                    <a href="/como_funciona"><li class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                        Solicite um orçamento<br>
                    </li></a>
                </ul>
        </div>
        <div class="col-8 right">             
            <div class="w3-content w3-section" style="max-width:700px">
                <img class="mySlides w3-animate-top" src="/imagens/logotipo_com_telefone.png" style="width:100%">
                <img class="mySlides w3-animate-bottom" src="/imagens/externa.png" style="width:100%">
                <img class="mySlides w3-animate-left" src="/imagens/interna.jpg" style="width:100%">
            </div> 
        </div>
    </div>

</body>
<script src="/js/main.js"></script>  
</html>
   
