<% include partials/cabecalho %>

<div align="justify" class="container-800px">
    <div id="sobre_nos">
        <img src="/imagens/Logotipo_sol_e_vento.png" class="img">
    </div>
    <div class="rodape">
        <h1 style="text-align: center">Sol e Vento</h1>
        <h3 style="text-align: center">Soluções em energia solar e eólica</h3>
    </div>
    <hr>
    <div class="rodape">
        <h3>Rua Equador, 165 - Zona Norte - Capão da Canoa - RS</h3>
        <h3>Telefone: (51)993101122 email: contato.solevento@gmail.com</h3>
    </div>
    <hr>
    <div class="rodape">
        <p>&nbsp;&nbsp; A empresa Sol e Vento atua no litoral norte do Rio Grande do Sul realizando venda, projetos, homologações e instalações de usinas de geração eólica e solar,
        proporcionando aos seus clientes desde a redução de seus gastos com energia elétrica até a total independência da concessionária.</p>
        <p>&nbsp;&nbsp;A utilização da energia do sol e dos ventos no nosso dia a dia é sustentável e ecológia, aumentando assim as chances de nossas gerações futuras ainda receberem
        um mundo aprazivel como o que nós vivemos.</p>
        <p>&nbsp;&nbsp;Todos podem aderir à utilização de energias alternativas no seu cotidiano, entre em contato conosco para perceber que pode ser mais barato do que você pensa.</p>
    </div>
</div>
<% include partials/rodape %>