<% include partials/cabecalho %>

<div class="container-800px centralizar-div">
    <h1>Adquira sua bomba d'água solar na Sol e Vento</h1>
    <img src="imagens/folder_bomba_solar_com_reducao_de_preco.png" width="800px">
</div>

<% include partials/rodape %>