body{
    background-color: #e3dedb;
}

#container{    
    padding: 15px;
}

#cabecalho{
    background-color: #ffccaa;
}

#imagem_inicio{
    width: 100%;
    height: 600px;  
    background-image: url(/imagens/fundo_cartao.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#carrossel{
    margin-top: 100px;
    width: 100px;
}

.espaco{
    padding: 15px;
}

.botoes{
    margin: 15px;
}

#myCarousel{
    width: 800px;
    margin: auto;
}

.rodape{
    background-color: #ffccaa;
    display: -webkit-flex;
}
.direita{
    position: absolute;
    right: 10px
}
.esquerda{
    margin-left: 0%;
}

#sobre_nos{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

