 /*CONFIGURAÇÕES GERAIS*/
        html {
            /*font-family: "Lucida Sans", sans-serif;*/
            font-family: "Proxima Nova", "-apple-system", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
        }
        body{
            background-color: rgb(235, 235, 235);
            padding-top: 6%;
        }
       
        *{
            box-sizing: border-box;
        }

        .row{
            margin-right: 0px;
            margin-left: 0px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        a:link{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        a:visited{
            text-decoration: none;
        }
        

        input[type=text]{   
            border-radius:4px;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
          
            background: #ffff; 
            border:1px solid #000000;
        }
         
        textarea{
            border: 1px solid #000000;
            background:#ffff;            
            border-radius:4px;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;        
        }
         
        input[type=text]:hover, textarea:hover{ 
                 background: #ffffdd; border:1px solid #990000;
        }
         
        input[type=submit]{
                background:#006699;
                color:#ffffdd;
        }
        
        /*CONFIGURAÇÕES DE CLASSES*/
    
        .links-titulo{
            
            text-decoration: none;
            text-align: center; 
        }        

        .cabecalho a {
            text-decoration: none;
            color:white;
            /*-webkit-text-stroke-width: 1px; /* largura da borda */
            /*-webkit-text-stroke-color: #000; /* cor da borda */
        }
        .cabecalho{
            background-color: #fba75d;
            border: 1px solid #e7e7e7;
        }

        
        .botao_principal{
            list-style-type: none;
            background-color: rgb(251, 167, 93);
            border: 1px solid #e7e7e7;
            height: 70px;
            margin-top: 12%;
            text-align: center;
            padding-top: 7px;
            border-radius: 10px;
            box-shadow: 10px 10px 10px #888;
            color:white;
            font-size: 20px;
        }
       
        .rodape{
            margin: 15px;
            text-align: center;
        }
        
        .img{
            margin-right: 100px;
            margin-top: 15px;
        }

        .segunda_parte{
            margin-top: 200px;
        }
        
        .voltar{
            margin-top: 15px;
            margin-left: 15px; 
            background-color: #fba75d;
            border: 1px solid #e7e7e7;
            border-radius: 15px;
            padding: 5px;
            width: 160px;
            text-align: center;
            height: 40px;
            color:white;
        }
        .contato{
            font-family: Arial, Helvetica, sans-serif;            
            margin-left:50px;
            width: 650px;
        }
        .campo_formulario{
            margin-top: 15px;
        }
        .container-loja{
            margin-top: 30px;
            margin-left: 5vw;
            margin-right: 2vw;            
            text-align: center;
            color: #666;
            font-size: 14px; 
        }       
        .container-produto{
            border-radius: 10px;
            background-color: white;
            box-shadow: 1px 1px 1px #666;
            padding: 10px;
            margin: 10px;
        }
        .container-produto:hover{
            box-shadow: 5px 5px 5px #666;
            text-decoration: none;
            cursor: pointer;
        }
        .container-produto h4{
            margin-bottom: 0px !important; 
        }

        .clear-both{
            clear: both;
        }

        .foto-produto{
            max-height: 144px;
        }
        
        input_mostruario.textarea:focus, input_mostruario.input:focus, input_mostruario.select:focus {
            box-shadow: 0 0 0 0;
            border: 0 none;
            outline: 0;
        } 
            

       
    /*CONFIGURAÇÕES DE ID */

        #logotipoSite{
            width: 150px;
        }
        #links_cabecalho{            
            padding: 15px;
        }
        #corpoIndex{
            margin-top: 100px;
        }
        #solicitacao-orcamento{
            background-color: #06a961;
            color: white;            
        }

        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
          }
        
          #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
          }


    /*CONFIGURAÇÕES TEMPLATE2*/
    body{
        -webkit-animation-name: animacao-imagem1; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: animacao-body;
        animation-duration: 4s;
    }

          /* Safari 4.0 - 8.0 */
          @-webkit-keyframes body{
            from {            
                background-color: gray;
   
            }
            to {           
                background-color: none;     
            }
        }
        
        /* Standard syntax */
        @keyframes animacao-body{
            from {            
                background-color: gray;
   
            }
            to {           
                background-color: none;     
            }
        }
    #imagem1{
        width: 100%;
        height: auto;
        -webkit-animation-name: animacao-imagem1; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: animacao-imagem1;
        animation-duration: 4s;
        background-image: url("/imagens/imagem1.jpg");
    }

        /* Safari 4.0 - 8.0 */
    @-webkit-keyframes  animacao-imagem1{
        from {
            
            filter:alpha(opacity=00);
            opacity: 0.0;
            -moz-opacity:0.0; /*mozzila*/
            -webkit-opacity:0.0; /*chrome*/
        }
        to {              
            filter:alpha(opacity=100);
            opacity: 1;
            -moz-opacity:1; /*mozzila*/
            -webkit-opacity:1; /*chrome*/
        }
    }
    
    /* Standard syntax */
    @keyframes animacao-imagem1{
        from {            
            
            filter:alpha(opacity=0.0);
            opacity: 0.0;
            -moz-opacity:0.0;
            -webkit-opacity:0.0; /*chrome*/
        }
        to {           
            
            filter:alpha(opacity=100);
            opacity: 1;
            -moz-opacity:1; 
            -webkit-opacity:1; /*chrome*/
        }
    }

    .botao-template2{
        list-style-type: none;
        background-color: rgba(251, 167, 93, 0.6);
        border: 1px solid #e7e7e7;
        height: min-content;
        margin-top: 15%;
        padding-top: 7px;
        color:white;
        font-size: 30px;
        padding-inline-start: 0px;
        padding: 7px;
        margin-bottom: 5%;            
    }
    .botoes-esquerda{
        text-align: right;
    }
    .botoes-direita{
        text-align: left;
    }

    .animacao-console{
        -webkit-animation-name: animacao-console; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: animacao-console;
        animation-duration: 4s;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes  animacao-console{
        from{
            display: float;
            position: top;
        }
        to{
            display: float;
            object-position: 20%;
        }
    }
    /* Standard syntax */
    @keyframes animacao-console{
        from{
            display: float;
            position: top;
        }
        to{
            display: float;
            object-position: 20%;
        }
    }

       
/*CONFIGURAÇÕES PARA RESPONSIVIDADE DE TELA*/

        @media only screen and (min-width: 1020px){
            #linkCabecalhoDireita{
                margin-right: 30px;
            } 
            #whats{
                display: none;
            }           
        }
        @media only screen and (max-width: 1020px){
            /*Configuração máxima para desktop tela pequena*/
            h2{
                max-width: 90vw;
            }
            .botao_principal{
                height: 80px;
            }
           
            .links-titulo{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                padding-top: 0px;
            }
            .img_celular{
                width: 500px;
            }
            #contato{
                width: 95vw;
            }
            

        }
        @media only screen and (min-width: 768px){
            /*Configuração para desktop*/
           
           /* #cabecalho{
                height: 90px;
            }   */
        }       
        
        /* Configuração para tablets: 
        @media only screen and (min-width: 600px) {
            
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
            
            .titulo{
                width: 200px;
                margin-right: auto;
                margin-left: auto;
            }
        }*/

        /*Configuração para smartphone*/      
        @media only screen and (max-width: 768px){
            body{
                margin-top: 20%;
            }
            .botao_principal{
                height: 70px;
            }        

            .elementos_div{
                display: block;
                margin-left: auto;
                margin-right: auto; 
            }
           
            .links-titulo{
                padding-top: 0px;
                text-decoration: none;
                margin-top:0px; 
            }           
           
            #corpoIndex{
                margin-top: 0px;
            }
            .img-aviso{
                width: 30px;
            }
            #imagem1{
                height: auto;
            }
        }

        /*CÓDIGOS SLIDE SHOW*/
        .mySlides {display: none}
       