 
        html {
            font-family: "Lucida Sans", sans-serif;
        }
       
        *{
            box-sizing: border-box;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        a:link{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        a:visited{
            text-decoration: none;
        }
        .links-titulo{
            
            text-decoration: none;
            text-align: center; 
        }
        .posicao_botoes{
            margin-top: 15px;
            margin-right: 15px;
        }

        .cabecalho a {
            text-decoration: none;
            color:white;
            /*-webkit-text-stroke-width: 1px; /* largura da borda */
            /*-webkit-text-stroke-color: #000; /* cor da borda */
        }
        .cabecalho{
            padding: 8px;
            background-color: #fba75d;
            border: 1px solid #e7e7e7;
            font-size: 20px;
        }
        
        .botao_principal{
            list-style-type: none;
            background-color: #fba75d;
            border: 1px solid #e7e7e7;
            height: 70px;
            margin-top: 12%;
            text-align: center;
            padding-top: 7px;
            border-radius: 10px;
            box-shadow: 10px 10px 10px #888;
            color:white;
            font-size: 20px;
        }
        .rodape{
            margin: 15px;
        }

        .container_sobre_nos{
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        .img{
            margin-right: 100px;
            margin-top: 15px;
        }

        .segunda_parte{
            margin-top: 200px;
        }
        
        .voltar{
            margin-top: 15px;
            margin-left: 15px; 
            background-color: #fba75d;
            border-radius: 15px;
            padding: 8px;
            width: 160px;
            text-align: center;
        }
        #logotipoSite{
            width: 150px;
        }
        #links_cabecalho{            
            padding: 15px;
        }
        #corpoIndex{
            margin-top: 100px;
        }
       
        @media only screen and (min-width: 1020px){
            #linkCabecalhoDireita{
                margin-right: 30px;
            }            
        }
        @media only screen and (max-width: 1020px){
            /*Configuração máxima para desktop tela pequena*/
            .botao_principal{
            height: 80px;
            }
            .links-titulo{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                padding-top: 0px;
            }
            .img_celular{
                width: 500px;
            }

        }
        @media only screen and (min-width: 768px){
            /*Configuração para desktop*/
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}

            .titulo{
                margin: auto;
            }
            .right{
                float: right;
            }
            .left{
                float: left;
            }
            #cabecalho{
                height: 90px;
            }   
        }
       
        /* Configuração para tablets: 
        @media only screen and (min-width: 600px) {
            
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
            
            .titulo{
                width: 200px;
                margin-right: auto;
                margin-left: auto;
            }
        }*/

        /*Configuração para smartphone*/      
        @media only screen and (max-width: 768px){

            [class*="col-"] {
                width: 100%;               
            }
            #cabecalho{
                padding: 8px;
            }
            .botao_principal{
                height: 70px;
            }        

            .elementos_div{
                display: block;
                margin-left: auto;
                margin-right: auto; 
            }
            h1{
                text-align: center;
            }
            .links-titulo{
                padding-top: 0px;
                text-decoration: none;
                margin-top:0px; 
            }
            .espaco_mobile{
                margin-top: 15px;
            }
            img{
                width: 90%;
                margin-right: 0px;
            }
            .container_sobre_nos{
                max-width: 90%;
            }
            #corpoIndex{
                margin-top: 0px;
            }
        }

        /*CÓDIGOS SLIDE SHOW*/
        .mySlides {display: none}
       