<div id="corpoIndex" class="row">
    <div id="slidesIndex" class="col-8 right">             
        <div class="w3-content w3-section" style="max-width:700px">
            <img id="figura1" class="mySlides w3-animate-top" src="/imagens/logotipo_com_telefone.png" style="width:100%">
            <img id="figura2" class="mySlides w3-animate-bottom" src="/imagens/externa.png" style="width:100%">
            <img id="figura3" class="mySlides w3-animate-left" src="/imagens/interna.jpg" style="width:100%">
        </div> 
    </div>
    <div id="consoleIndex" class="col-4 left">
            <ul class="espaco-borda-direita">
                <a href="#como_funciona"><li id="botao1" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                    Como funciona a energia solar?<br>
                </li></a>
                <a href="#na_pratica"><li id="botao2" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                    Como funciona em sua casa?<br>
                </li></a>
                <a href="/como_funciona"><li id="botao3" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                    Produtos para geração de energia<br>
                </li></a>
                <a href="/como_funciona"><li id="botao4" class="botao_principal" onmouseover="diminuiSombra(this)" onmouseout="aumentaSombra(this)">
                    Produtos variados<br>
                </li></a>
            </ul>
    </div>
</div>

<script src="/js/carrossel.js"></script> 