<% include partials/cabecalho %>
<div class="container espacar_do_cabecalho">
           
        <div>
            <div id="whats">
                <div id="container-whats" class="row">
                    <h2 class="col-md-12">
                        Envie um WhatsApp
                    </h2>                       
                    <button class="col-5 btn btn-outline-success" id="botao_whats" onmousedown="descerBotao(this)" onmouseup="erguerBotao(this)">
                        <img src="/imagens/whats.png" width="35px" class="icone"><br>Enviar<br>WhatsApp:
                    </button>                                
                </div>
            </div>     
            <h2 class="espaco-borda-esquerda espacar_de_cima">Peça seu orçamento via e-mail</h2>
            <form method="post" action="/mandarMensagem" id="formContato" name="formContato">        
                <div class="row espaco-borda-esquerda">
                    <div class="col-5 form-group">
                        <label>
                            Informe seu nome:
                        </label>  
                        <input type="text" name="nome" class="form-control" placeholder="Seu nome" onblur="verificarNome(this.value)" onkeyup="verificarNome(this.value)">
                        <span id="avisoNome"></span><br>
                    </div>                    
                    <div class="col-7 form-group">
                        <label>
                            Informe sua cidade:
                        </label>
                        <input type="text" class="form-control" name="cidade" placeholder="Ex.: Capão da Canoa">
                    </div>
                    <div id="container-email" class="col-md-5" onclick="seleciona(this)">
                        <div>
                            <label>
                                <img src="/imagens/icon-mail.png" width="30px" class="icone"> &nbsp;   E-mail:
                            </label>
                            <input type="email" id="email" class="col-md-12 form-control" name="email" placeholder="exemplo@exemplo.com.br" onblur="verificarEmail(this.value)" onkeyup="desabilitaDiv(this, 'container-whats', 'whats'), verificarEmail(this.value)">
                            <span id="avisoEmail"></span><br>
                        </div>
                    </div>                  
                </div>
                
  
                <div class="form-group">                   
                    <label>
                        Mensagem: 
                    </label>
                    <div class="form-group">
                        <textarea cols="50" class="form-control" rows="5" name="mensagem" id="mensagem" onblur="habilitaEnvio(this, 'botao_email')" onkeyup="habilitaEnvio(this, 'botao_email')" placeholder="Escreva seu email"></textarea>
                        
                        <button disabled class="btn btn-outline-success botao form-btn-control espacar_de_cima" id="botao_email">
                            <img src="/imagens/icon-mail.png" width="35px" class="icone"><br>Enviar Email:
                        </button>
                    </div>     
                </div>
            </form>
                         
        </div>
       

        <% if (typeof resposta != 'undefined'){ %>
            <%console.log(resposta)%>
            <input type="text" id="resposta_email" style="display: none;" value="<%= resposta.mensagem %>">
        <% } %> 
        <div id="snackbar" class=""></div>
        
       
</div>


<%include partials/rodape.ejs%>