<% include partials/cabecalho %> 

<div class="container">
    <form action="/produtos" method="post" id="form-inserir-produto" name="form-inserir-produto" enctype="multipart/form-data">
        <div class="page-header">
            <h1>Inserir novo produto</h1>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Nome do Produto</label>
                <input type="text" class="form-control" name="nome_produto">
            </div>
            <div class="form-group col-md-6">
                <label>Foto do Produto (foto sem fundo 700x400px)</label>
                <input type="file" class="form-control-file" name="imagem_produto">
            </div>
            <div class="form-group col-md-6">
                <label>Código do Produto</label>
                <input type="text" class="form-control" name="pn_produto">
            </div>
            <div class="form-group col-md-6">
                <label>Preço do Produto</label>
                <input type="number" class="form-control" name="preco_produto">
            </div>
            <div class="form-group col-md-6">
                <label>Quantidade em Estoque</label>
                <input type="text" class="form-control" name="qtd_produto">
            </div>
            <div class="form-group col-md-6">
                <label>Descrição do Produto</label>
                <input type="text" class="form-control" name="descricao_produto">
            </div>
            <div  class="form-group col-md-6">
                <button type="submit" class="form-control-button btn btn-primary">Inserir</button>
            </div>
        </div>
    </form>
</div>

<% if (typeof mensagem != 'undefined'){ %>
    <input type="text" id="resposta_insercao_produto" style="display: none;" value="<%= mensagem %>">
<% } %>    
<div id="snackbar"></div>

<% include partials/rodape %>